@{
  ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <h1>Contoso University</h1>
  <img src="https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?cs=srgb&dl=academy-accomplishment-celebrate-267885.jpg&fm=jpg" alt="Alternate Text" style="width:100%" />
    <h2>Welcome to Contoso University</h2>
    <p style="font-size:1em">
      Contoso University is the best University. First step towards being a genius is applying here.
    </p>
</div>
